<h1>Show Puppy</h1>

    <p>
        <img src="<%= @puppy.image %>">
    </p>

    <p>
        Name: <%= @puppy.name %>
    </p>
    
    <p>
        Bio: <%= @puppy.bio%>
    </p>

    <p>
        Age: <%= @puppy.age%>
    </p>

    <p>
        Breed: <%= @puppy.breed%>
    </p>

<%= link_to "Delete Puppy", @puppy, method: :delete%>
